cffi==2.0.0
click==8.3.0
cryptography==46.0.1
greenlet==3.2.4
markdown-it-py==4.0.0
mdurl==0.1.2
oracledb==3.3.0
psycopg==3.2.10
psycopg-binary==3.2.10
pycparser==2.23
Pygments==2.19.2
PyMySQL==1.1.2
pyodbc==5.2.0
rich==14.1.0
shellingham==1.5.4
SQLAlchemy==2.0.43
typer==0.19.2
typing_extensions==4.15.0
